*{
    margin: 0;
    padding: 0;
    
}

.container-fluid{
display: flex;
justify-content: space-between;
max-width: 1000px;

}



.titulo{
    font-family:  sans-serif;
    font-size: 4rem;
    line-height: 60px;
   
}

.button{
    background-color: blueviolet;
    width: 260px;
    height: 40px;
    color: white;
}

.button:hover{
    background-color: blueviolet;
    color: white;
    transition: 5000;
}

.card{
    width: 300px;
    height: 300px;
    left: 10rem;
    margin: 10px;
}

h1,h2{
    margin: 50px;
    
}



